<control-panel id="control-panel" class="snap-drawer snap-drawer-left">
    <div id="control-panel-content" layout="column">

        <div flex="100" layout="row" class="control-panel-item">
            <div flex="50">
                <md-button class="control-panel-button red-button" ng-click="deleteStyle()"><i class="fa fa-trash-o"></i>Delete</md-button>
            </div>
            <div flex="50">
                <md-button class="control-panel-button" ng-click="saveStyle()"><i class="fa fa-floppy-o"></i>Save</md-button>
            </div>
        </div>

        <div flex="100" class="control-panel-item">
            <div flex="100">
                <h4 class="control-panel-item-heading">Select a Style</h4>
            </div>
            <div flex="100" layout="row">
                <div flex="65">
                    <md-input-container>
                        <md-select class="md-accent md-hue-1" placeholder="Select a style to edit" ng-model="model.currentStyleId" ng-change="gotoStyle()">
                            <md-option ng-repeat="style in model.styles" value="{{style._id}}">{{style.title | limitTo: 15 }}{{style.title.length > 15 ? '&hellip;' : ''}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="35">
                    <md-button class="add-button" ng-click="showConfirm($event)"><i class="fa fa-plus-square"></i>Create Style</md-button>
                </div>
            </div>
        </div>

        <div flex="100" layout="row" class="control-panel-item">
            <md-switch class="md-primary" md-no-ink aria-label="Enabled" ng-model="model.currentStyle.enabled">
                <span ng-if="model.currentStyle.enabled">Enabled</span>
                <span ng-if="!model.currentStyle.enabled">Disabled</span>
            </md-switch>
        </div>

    </div>
</control-panel>

<div layout="column" id="page-content-wrapper" class="snap-content" data-snap-ignore="true" ng-click="closeMenu()">
    <div flex="100">
        <md-button id="toggle-menu-button" aria-label="Menu" ng-click="toggleMenu()" ng-mouseenter="startHover()" ng-mouseleave="endHover()"><i class="fa fa-bars fa-2x"></i></md-button>
        <md-button class="md-primary save-icon" aria-label="Save" ng-click="saveStyle()"><i class="fa fa-floppy-o fa-2x"></i></md-button>

        {{model.currentStyle.title}}
        <span ng-if="model.currentStyle.type === 'code'">(Embedded Stylesheet)</span>
        <span ng-if="model.currentStyle.type === 'link'">(External Stylesheet Link)</span>

        <md-content layout-padding">
        <div ng-if="model.currentStyle.type === 'code'" ui-ace="{ onLoad: aceLoaded }" ng-model="model.currentStyle.content"></div>
        <md-input-container flex ng-if="model.currentStyle.type === 'link'">
            <label>URL</label>
            <input ng-model="model.currentStyle.content">
        </md-input-container>
        </md-content>
    </div>
</div>
