doctype html
html(lang="en", ng-app="dash")
    head
        base(href="/")
        title=title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width", initial-scale=1)

        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

        script(src='/javascript/libs/angular.js')
        script(src='/javascript/libs/angular-cookies.js')
        script(src='/javascript/libs/jquery-2.1.4.js')
        script(src='/javascript/libs/bootstrap.js')
        script(src='/javascript/libs/angular-ui-router.js')

        script(src='/javascript/app/app.js')
        script(src='/javascript/app/users/userController.js')
        script(src='/javascript/app/directives/userBar.js')
        script(src='/javascript/app/home/homeController.js')
        script(src='/javascript/app/login/loginController.js')
        script(src='/javascript/app/admin/adminController.js')
        script(src='/javascript/app/changepass/changepassController.js')
    body
        block content
