doctype html
html(lang="en", ng-app="dash")
    head
        base(href="/")
        title=title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width", initial-scale=1)

        link(rel='stylesheet', href='/libs/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/libs/Snap.js/dist/latest/snap.css')

        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/froala_editor.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/froala_style.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/code_view.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/colors.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/emoticons.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/image_manager.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/image.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/line_breaker.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/table.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/char_counter.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/video.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/fullscreen.min.css')
        link(rel='stylesheet', href='/libs/FroalaWysiwygEditor/css/plugins/file.min.css')

        link(rel='stylesheet', href='/css/site.css')

        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/angular/angular.min.js')
        script(src='/libs/angular-cookies/angular-cookies.min.js')
        script(src='/libs/angular-animate/angular-animate.min.js')
        script(src='/libs/angular-aria/angular-aria.min.js')
        script(src='/libs/angular-material/angular-material.min.js')
        script(src='/libs/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/libs/lodash/lodash.min.js')
        script(src='/libs/ace-builds/src-min-noconflict/ace.js')
        script(src='/libs/angular-ui-ace/ui-ace.min.js')
        script(src='/libs/masonry/dist/masonry.pkgd.min.js')
        script(src='/libs/imagesloaded/imagesloaded.pkgd.min.js')
        script(src='/libs/angular-masonry/angular-masonry.js')
        script(src='/libs/Snap.js/dist/latest/snap.min.js')

        script(src='/libs/FroalaWysiwygEditor/js/froala_editor.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/align.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/char_counter.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/code_view.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/colors.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/emoticons.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/entities.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/file.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/font_family.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/font_size.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/fullscreen.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/image.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/image_manager.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/inline_style.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/line_breaker.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/link.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/lists.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/paragraph_format.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/paragraph_style.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/quote.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/save.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/table.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/url.min.js')
        script(src='/libs/FroalaWysiwygEditor/js/plugins/video.min.js')

        script(src='/javascript/app/app.js')
        script(src='/javascript/app/users/userController.js')
        script(src='/javascript/app/services/viewService.js')
        script(src='/javascript/app/services/blockService.js')
        script(src='/javascript/app/services/postService.js')
        script(src='/javascript/app/services/styleService.js')
        script(src='/javascript/app/services/scriptService.js')
        script(src='/javascript/app/services/loaderService.js')
        script(src='/javascript/app/directives/userBar.js')
        script(src='/javascript/app/directives/controlPanel.js')
        script(src='/javascript/app/login/loginController.js')
        script(src='/javascript/app/admin/adminController.js')
        script(src='/javascript/app/changepass/changepassController.js')
        script(src='/javascript/app/views/viewsController.js')
        script(src='/javascript/app/blocks/blocksController.js')
        script(src='/javascript/app/styles/stylesController.js')
        script(src='/javascript/app/scripts/scriptsController.js')
        script(src='/javascript/app/posts/postsController.js')
        script(src='/javascript/app/gallery/galleryController.js')
        //script(src='/javascript/dist/all.js')
    body
        div(ng-controller='userController')
            user-bar
            block content
